*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Candara;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.none{
    display: none;
}

.hidden{
    overflow: hidden;
}

/* -------------------- NAVBAR E TOPO ----------------------------- */

nav{
    display: flex;
    align-items: center;
    margin: 1em 1em 1.5em 1em;
    justify-content: space-between;
}

.divRedeSocial{
    width: 100px;
    display: flex;
    justify-content: space-around;
}


.white{
    color: white;    
}

ul{
    list-style-type: none;    
}

.nomeTitle{
    font-size: 50px;
}

.infoTopo > li{
    margin: .6em 0;
}

.divContent{
    width: 65vw;
    align-self: center;
    text-align: center;
}

    .infoTopo{
        font-size: 22px;
        list-style-type: circle;
        margin: 2em 0 0 1em;
        transition: .5s ease;
    }
    
    .infoTopo > li{
        cursor: pointer;
        transition: .5s ease;
        margin: o;
    }
    .infoTopo > li > .destaque{
        color: #a70000;
        text-transform: uppercase;
        font-weight: bold;
    }

    .contentTopo{
        margin-bottom: 2em;
    }

    .menuMobile, .divHamb, .img1 {
        display: none;
    }   

    .divLogo{
        display: flex;
        align-items: center;
        padding: 0 2em;
    }

    .coffe{
        padding: 0 .2em .1em 0;
        font-size: 40px;
    }

    header{
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
    }

    h1{
        font-size: 25px;
    }

    .upper{
        text-transform: uppercase;
        color: #8d8d8d;
    }

    .menuDesktop{
        display: flex;
        margin: 0 1em;
        font-weight: normal;
    }
    
    .menuDesktop > li > a{
        color: black;
        padding: .15em .8em;
        font-size: 17px;
        border-radius: .3em;
        text-align: center;
        align-items: center;
        transition: .5s ease;
        margin: 0 .25em
    }

    .selecionado > a,  .menuDesktop > li > a:hover{
        background-color: #a70000;
        color: white!important;
        font-weight: 700;
    }

    .selecionado > a::before{
        content: '>_ ';
        font-weight: bold;
    }

    .menuDesktop > li > a:hover{
        background-color: white;
        color: #a70000!important;
        font-weight: normal;
    }

    .selecionado > a:hover{
        border: 1px solid #a70000;
        font-weight: bold;
    }

        
    #projetos > div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 2em 4em 0em;
    }
    
    /* -------------------- NAVBAR E TOPO ----------------------------- */

    .topo{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        /* height: calc(100vh - 120px); */
        align-items: center;
        height: 75vh;
        
        margin-bottom: 2em;
    }
    

    .topo > article{
        display: flex;
    } 
    
    .mobileBg{
        width: 500px;
        height: 500px;
    }
    
    .helloWorld{
        font-style: italic;
        font-weight: 100;
        font-size: 25px;
    }
    
    .nomeTitle{
        color: #f00001;
        font-size: 40px;
        margin: .5em 0em;
    }
    
    .menuMobile{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 40vw;
        color: white;
        
        flex-direction: column;
        transition: .200s ease-in-out;
    }

    hr{
        margin-bottom: 1em;
        width: 220px;
        background: #8D8D8D;
    }
    
    .footerMenuMb{
        margin-bottom: 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .sectionBack{
        background-color: rgba(255, 255, 255, 0.95);
        height: 10vh;
        display: flex;
        padding-left: 1.5em;
        align-items: center;
    }
    
    .sectionContentMenu{
        background-color: #15191D;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid #e4e4e4;

        
    }

    .sectionContentMenu > div{
        width: 80%;
    }

    .sectionContentMenu > div > div > h3{
        font-size: 30px;
        text-align: center;
        margin: 1.5em 0 .4em 0em;
    }
    
    .sectionContentMenu > div > div > p{
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 2em;
        color: #8D8D8D;
    }
    
    .iconMenu{
        padding: .3em;
        width: 2em;

        display: flex;
        text-align: center!important;
        justify-content: center;
        align-items: center;
    }
    
    .liMenuMobile {
        margin: 1em 0 0 -1em ;
        color: white;
        font-weight: bold;
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    
    
    .liMenuMobile:hover {
        color:#03AAD2;
        background-color: rgb(35, 35, 35); 
        transition: .5s ease;
    }
    
    .liMenuMobile > p{
        padding-left: 5px;
        font-size: 18px;
    }
    
    .left{
        left: -800px;
        transition: .200s ease-in-out;
    }

    .hambBtn{
        font-size: 3em;
    }

    .hambBtn:active, .fa-arrow-left:active{
        animation: fade 1.5s;
    }

    .iconRd{
        font-size: 20px;
        padding: 5px;
        border-radius: 8px;
        transition: ease .5s;
    }

    .iconRd:hover{
        color: #a70000!important;
    }
    

    /* -------------------- SOBRE ----------------------------- */
    
    #sobre{
        padding: 0 3em 4em 3em;
        background-color: #15191D;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .triangle{
        width: 100px;
        margin-top: 4em;
    }

    .h3{
        font-size: 40px;
        margin: .2em 0 1.2em;
    }

    .divContent{
        margin: 0em 1.5em 3em 1.5em ;
        text-align: left;
        font-size: 18px;
        line-height: 1.8;
        font-weight: normal;
    }

    .divXp{
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divXp > div{
        width: 100%;
    }

    .subtitle{
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        margin-bottom: .6em;
    }

    .sb2{
        text-align: center;
        padding: 0 0 0.5em 1.5em;
        width: 100%;
    }

    .pcenter{
        margin-top: 3em;
        text-align: center;
        margin-bottom: 0em;
    }

    .destaqueP{
        font-weight: bold;
        color: #03AAD2;
    }

    .iregularForm{
        background-color: #03AAD2;
        width: 180px;
        height: 130px;
        display: inline-block;
        align-items: center;
        margin: 1em 1em 1em 1em;
        border-radius: 35% 65% 82% 18% / 66% 61% 39% 34% ;
    }

    .r2{
        border-radius: 49% 51% 59% 41% / 25% 37% 63% 75% ;
    }

    .r3{
        border-radius: 81% 19% 16% 84% / 73% 57% 43% 27%    ;
    }

    .r4{
        border-radius: 18% 82% 26% 74% / 69% 36% 64% 31% ;
    }

    .h4{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 150px;
        font-size: 25px;
    }

    /* ------------------------------ SKILLS -------------------------------------- */

    #skills{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3em;
        
        align-items: center;
    }

    .iconSkills{
        font-size: 100px;
        color: #03AAD2;
        width: 90px;
        margin: 10px 0em;
    }
    
    .contentSkills > div{
        display: flex;
        margin: 0 1em ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .h3A{
        margin-top: 2em;
        color: #03AAD2;
    }

    .contentSkills{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 3em;
        max-width: 700px;
    }

    .contentSkills > div > h4{
        font-weight: normal;
        font-size: 18px;
        margin-bottom: 1em;
    }

    /* ---------------------------  PROJETOS ----------------------------- */

    #projetos{
        background-color: #15191D;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 0 0 0;
    }

    #projetos > h3{
        display: flex;
        align-items: center;   
        width: 100%;
        text-align: center;    
        justify-content: center; 
    }

    .trianguloTitle{
        width: 80px;
        height: 80px;
        margin: 0 2em 0 -6em ;
    }

    .slidesContent > img{
        width: 100vw;
    }
    
    .subSlidesContent{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
        padding: 0em;
    }
    
    .imgSubSlide {
        width: 210px;
        opacity: 0.7;
        display: none;
        border-radius: 2px;
        cursor: pointer;
        border: 4px solid transparent;
    }

    .imgSubSlide:hover{
        border: 4px solid #03AAD2;
    }

    .slidesContent > div{
        display: flex;
        justify-content: space-between;
        padding: 0 1em;
        width: 88%;
        height: 0;
    }
    
    .slidesContent > div > a{
        position: relative;
        top: -250px;
        left: 0;

        color: #03AAD2;
        font-size: 3em;
        font-weight: bold;
        cursor: pointer;
        transition: ease .5s;
    }

    .slidesContent > div > a:hover{
        color: rgb(146, 146, 146);
    }

    .slidesContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 760px;
    }

    .imgSlide{
        display: none;
        animation-name: fade;
        animation-duration: 1500ms;
        width: 88%!important;
    }

    @keyframes fade {
        from{
            opacity: .7;
        }to{
            opacity: 1;
        }
    }

    .btnGit{
        background-color: #03AAD2;
        width: 250px;
        color: black;
        font-weight: bolder;
        padding: .8em;
        border-radius: 20px 20px 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid gray;
        margin-top: 2em;

        align-self: flex-end;
        margin-right: 4em;
    }

    .btnGit:hover{
        opacity: .8;
    }

    .github{
        font-size: 25px;
    }

    /* ------------------------ CONTATO ------------------------------ */

    #contato{
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.8;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        margin: 2em 1.5em ;
        padding-bottom: 0em;
        height: 50vh;
    }

    #contato > h3{
        margin-top: 0;
    }

    #contato > p{
        width: 70%;
        text-align: center;
    }
    
    /* ---------------------- FOOTER ---------------------------- */
    
    footer{
        height: 100px;
        width: 100%;
        background-color: #15191D;
        color: white;
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
    }



@media (max-width: 1200px ){
    .nomeTitle{
        font-size: 35px;
    }

    .divContent{
        width: unset;
        align-self: unset;
    }

    .divXp{
        width: unset;
        align-self: unset;
    }

    .sb2{
        text-align: left;
    }

    .trianguloTitle{
        width: 15%;
        height: 15%;
    }

    .contentSkills{
        margin-bottom: 0;
    }

}
 
@media (max-width: 979px) { 
    .divLogo, .menuDesktop, .checkbox, .img1, .infoTopo{
        display: none;
    }
    .img2{
        margin-bottom: 4em;
    }

    .divHamb, .menuMobile{
        display: block;
    }

    .helloWorld{
        text-align: center;
    }

    header{
        display: block;
    }

    .mobileBg{
        width: 450px;
        height: 450px;
    }

    .contentTopo > div > div{
        margin: 0 0 -2em 0;
    }
    
    .topo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: calc(100vh - 60px);
        padding: 0 1em
    }

    .h3{
        font-size: 35px;
    }

    .sb2{
        padding: 0 0 1.5em 1.5em;
    }

    #sobre{
        padding: 0 2em 4em 2em;
    }

    .subSlidesContent{
        flex-direction: unset;
    }
          
    #projetos > div{
        display: block;
    }

    .subSlidesContent{
       margin: 1.5em 0 3em 0;
        padding: 0em 2em;
    }

    .imgSubSlide {
        width: 30%;
    }

    #projetos{
        padding: 2em 0;
    }

    .btnGit{
        border-radius: 20px;
        margin: 0 0 1em 0;
        align-self: unset;
        margin-right: 0;
    }
    
    .slidesContent{
        width: unset;
    }

    .slidesContent > div > a{
        top: -290px;
    }
    
    #projetos > div{
        margin: 0 2em 0em 0em;
    }

}

@media (max-width: 780px) {

    .subSlidesContent{
        margin: -1.5em 0 3em 0;
        padding: 0em 2em;
     }

    .slidesContent > div > a{
        top: -230px;
    }

    .menuMobile{
        width: 50vw;
    }

    .img1, .nome1{
        display: flex;
    }

    .img2, .infoTopo{
        display: none;
    }

    .nomeTitle{
        text-align: center;
        margin: .5em 1.2em;
    }

    .helloWorld{
        text-align: center;
    }
    .topo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: calc(100vh - 72px);
    }

    .nomeTitle{
        color: #f00001;
        font-size: 30px;
        margin: .5em 0em;
    }

    #sobre{
        padding: 0 0 4em 0;
    }

    .divXp > div{
        width: 80%;
    }

    .iregularForm{
        width: 200px;
        height: 150px;
    }

    .h3{
        font-size: 30px;
    }

    .h4{
        font-size: 30px;
    }
    
    #contato > p{
        width: 100%;
    }

    .slidesContent > div{
        height: unset;
    }

    #skills{
        min-height: 78vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 4em;
        padding-bottom: 0;
    }
}

@media (max-width: 510px){
    .slidesContent > div > a{
        top: -180px;
    }

    .mobileBg{
        width: 400px;
        height: 400px;
    }

    #skills {
        padding-bottom: 0;
    }
}

@media (max-width: 480px) {

    .liMenuMobile {
        margin: 0em 0 0 -1em;
    }

    .menuMobile{
        width: 80vw;
    }

    .triangle{
        width: 20%;
        margin-top: 2em;
    }

    .divContent{
        font-size: 16px;
        font-weight: bold;
    }

    .trianguloTitle{
        width: 25%;
        height: 25%;
    }

    #projetos{
        padding-top: 1em;
    }
    
    #projetos > h3{
        margin-bottom: 1em;
    }

    .subSlidesContent{
        padding: 0;
    }

    .imgSlide{
        width: 100%!important;
    }

    .slidesContent{
        display: block;
    }

    .slidesContent > div{
       width: 100%;
    }

    .slidesContent > div > a{
        font-size: 2em;
        top: -150px;
    }

    .divRedeSocial{
        width: 80px;
    }

    #skills{
        height: unset;
    }

    #projetos > div{
        margin: 0 0em 0em 0em;
    }

    #contato{
        margin: 2em 0 3em 0;
    }

    .img1{
        width: 300px;
        height: 300px;
    }

}